In [2]:
import cv2
import pandas as pd

In [3]:
img_path = 'pic1.jpg'
csv_path = 'colors.csv'

df = pd.read_csv(csv_path)
df

       air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2         alabama_crimson        Alabama Crimson  #a32638  163   38   56
3              alice_blue             Alice Blue  #f0f8ff  240  248  255
4        alizarin_crimson       Alizarin Crimson  #e32636  227   38   54
..                    ...                    ...      ...  ...  ...  ...
859         yellow_orange          Yellow Orange  #ffae42  255  174   66
860        yellow_process       Yellow (Process)  #ffef00  255  239    0
861            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
862                zaffre                 Zaffre  #0014a8    0   20  168
863     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[864 rows x 6 columns]

In [4]:
index = ['Color','Color_Name','Hex','R','G','B']
df = pd.read_csv(csv_path, names = index, header = None)
df

                    Color             Color_Name      Hex    R    G    B
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]

In [5]:
img = cv2.imread(img_path)
img = cv2.resize(img,(800,600))

clicked = False
r = g = b = x_pos = y_pos = 0

In [6]:
def get_color_name(R, G, B):
    minimum = 1000
    for i in range(len(df)):
        d = abs(R-int(df.loc[i,'R'])) + abs(G-int(df.loc[i,'G'])) + abs(B-int(df.loc[i,'B']))
        if d <= minimum:
            minimum = d
            cname = df.loc[i,'Color_Name']
    return cname

In [7]:
def draw_function(event, x, y, flags, params):
    if event == cv2.EVENT_LBUTTONDBLCLK:
        global clicked, r, g, b, x_pos, y_pos
        clicked = True
        x_pos = x
        y_pos = y
        b, g, r = img[y,x]
        b = int(b)
        g = int(g)
        r = int(r)

In [8]:
cv2.namedWindow('Image')
cv2.setMouseCallback('Image',draw_function)

while True:
    cv2.imshow('Image',img)
    if clicked:
        cv2.rectangle(img,(20,20), (600,60), (b,g,r), -1)
        text = get_color_name(r,g,b) + 'R = '+str(r) + 'G = '+str(g)+'B = '+str(b)
        cv2.putText(img,text,(50,50), 2, 0.8, (255,255,255), 2, cv2.LINE_AA)
        if r + g + b >=600:
            cv2.putText(img,text,(50,50), 2, 0.8, (0,0,0), 2, cv2.LINE_AA)
    
    if cv2.waitKey(20) & 0xFF == 27:
        break

cv2.destroyAllWindows()